<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="C:\Users\sanjay s\Downloads\AGE CALCULATER.CSS">
        <script src="c:\Users\sanjay s\Downloads\angular-1.8.2\angular-1.8.2\angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myctrl">
        <h1 class="title">AGE CALCULATER</h1>
    <div >
<input class="birthyear" type="number" name="" id="" ng-model="birthyear" placeholder="BIRTH OF YEAR" min="1980" max="2026">
<input class="currentyear" type="number" name="" id="" ng-model="currentyear" placeholder="CURRENT YEAR" min="2000" max="2026">
</div>
    <h1 class="result"  > <b>Your age is : {{result}}</b></h1>
    <button ng-click="sub()" class="calculate">Find My Age :</button>

    <script>

        var app = angular.module("myApp", []);

        app.controller("myctrl", function($scope) {

            $scope.sub = function() {
                $scope.result =
                $scope.currentyear - $scope.birthyear;
            };
        });

    </script>
</body>
</html>